<div class="container py-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="mb-4">Contact</h1>
      <p class="text-muted">Dernière mise à jour : <%= l(Date.today, format: :long) %></p>

  <div class="card p-4 shadow-sm">
    <p><strong>Email :</strong> <a href="mailto:camilleboiche36@gmail.com">camilleboiche36@gmail.com</a></p>
    <p><strong>Téléphone :</strong> <a href="tel:+33698714448">06 98 71 44 48</a></p>
    <p><strong>LinkedIn :</strong> <a href="www.linkedin.com/in/camille-boiché-141259297" target="_blank">linkedin.com/in/camille-boiché-141259297</a></p>
    <p><strong>GitHub :</strong> <a href="https://github.com/CamB36" target="_blank">https://github.com/CamB36</a></p>
  </div>
</div>
  </div>
</div>